
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/style.css" rel="stylesheet">


<link href="/css/navbar-css.css" rel="stylesheet">

<link href="/css/login-css.css" rel="stylesheet">



<!------ Include the above in your HEAD tag ---------->

</head>




