

<nav id="navbar" class="push better-nav fixed-top">
  <div class="container">
    <div class="head">
      <a href="#" class="brand">
        <div class="logo">
          <img class="image" src="https://66.media.tumblr.com/avatar_2dcdc7cf5b47_64.png" data2x="https://66.media.tumblr.com/avatar_2dcdc7cf5b47_128.png" alt="Branding" />
        </div>
        <div class="title"> 
          <h3>TimeLine</h3>
        </div>
      </a>
    </div>
    <div class="body" >
      <ul>
        <li class="home"><a href="/">timeline</a></li>
        
        <li class="page"><a href="#">profile</a></li>
        
        <li class="page"><a href="/login">login</a></li>
        
        <li class="page"><a href="#">logout</a></li>
        <li class="page"><a href="/post">post</a></li>
      
       
 
      
        </li>
      </ul>
    </div>
    <div class="toggle">
      <a href="#navbar-slide">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</nav>
<div id="underlay" class="better-nav-mobile-underlay"></div>

</dummy>





