<nav id="navbar" class="push better-nav fixed-top">
  <div class="container">
    <div class="head">
      <a href="#" class="brand">
        <div class="logo">
         
        </div>
        <div class="title">
          <h3>TimeLine</h3>
        </div>
      </a>
    </div>
    <div class="body">
      <ul>
        <li class="home"><a href="#">Home</a></li>
        <li class="page"><a href="/users/loginForm">login</a></li>
        
        
        <li class="page"><a href="/users/timeline">timeline</a></li>
     
      </ul>
    </div>
    <div class="toggle">
      <a href="#navbar-slide">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</nav>
<div id="underlay" class="better-nav-mobile-underlay"></div>
<nav id="navbar-slide" class="better-nav-pills"></nav>
<