{{> include/header}}
{{> include/navbar}}

<body>
        <div class="container">
          <div class="page-header">

          </div>
          <ul class="timeline">
              <li class="timeline-inverted">
                <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                  <form role="form" action="/users/post/create" method="post">
                    <div class="timeline-heading">
                      <div class="form-group">
                        <label for="title">title</label>
                        <input type="text" name="title" class="form-control" placeholder="Title">
                      </div>
                    </div>
                    <div class="timeline-body">
                      <div class="form-group">
                        <label for="contents">contents</label>
                        <textarea class="form-control" name="contents" placeholder="text" rows="3"></textarea>
                      </div>
                    </div>
               
                     
                      <br />
                      <br />
                      <input type="submit" value="send">
                  </form>                
                </div>
              
          </ul>
      </div>
</body>

{{> include/footer}}

