{{> include/header}}
{{> include/navbar}}
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<!-- Scripts and Links -->
<link rel="stylesheet" href="/css/timeline-css.css">

<style type="text/css">

.icon-btn {
 display: inline;
}


</style>

<body>
     <div class="container">
          <div class="page-header">

          </div>
         
          <ul class="timeline">
         
              {{#userPost}}
              <li>
               
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">{{title}}</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp{{formatCreateDate}}</small></p>
                  </div>
                  
                  <div class="timeline-body">
                    <p>{{{contents}}}</p>
                   
                     <div>
                   
					 </div>                    

						
                     
                     </div>
               
                  <hr>
                 
                 <a class="btn icon-btn" href="/users/post/like/{{id}}"><img src="/img/like.png" width="30px">&nbsp{{likeCount}}</a>

                 <a class="btn icon-btn" href="/users/post/delete/{{id}}"><img src="/img/delete.png" width="30px"></a>

                </div>
              </li>
                {{/userPost}}
           
              
          </ul>
        
      </div>
</body>


{{> include/footer}}

