{{> include/header}}
{{> include/navbar}}
<link href="/css/index-css.css" rel="stylesheet">

<style type="text/css">


.imge{
margin-top:80px;
margin-bottom: 10px;
margin-left: 24%;



}
</style>


<div class="container first-container">
 <img src="/img/clipboard.png" width="50px" class="imge">

 <div class="alrazy-title" data-splitting> welcome to the my-timeline</div>

</div>

<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>
    Splitting();
</script>


{{> include/footer}}

